## Handling Missing Values
Dataset: Building permits issued in San Francisco

In [1]:
# importing required modules
import numpy as np
import pandas as pd
np.random.seed(0)

In [2]:
# reading data
df = pd.read_csv("Datasets/Building_Permits.csv")
df.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992
5,201706149344,8,otc alterations permit,06/14/2017,4105,009,800,NaN,Indiana,St,...,1.0,constr type 1,1.0,constr type 1,NaN,10.0,Potrero Hill,94107.0,"(37.75922331346539, -122.39170402628598)",1466911170855
6,201706300814,8,otc alterations permit,06/30/2017,1739,020,1291,NaN,11th,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,5.0,Inner Sunset,94122.0,"(37.764145640138565, -122.46875112470363)",1468970403692
7,M803667,8,otc alterations permit,06/30/2017,4789,014,1465,NaN,Revere,Av,...,NaN,NaN,NaN,NaN,NaN,10.0,Bayview Hunters Point,94124.0,"(37.73005099023611, -122.38784938916618)",1469035175050
8,M804227,8,otc alterations permit,07/05/2017,1212,054,2094,NaN,Fell,St,...,NaN,NaN,NaN,NaN,NaN,5.0,Lone Mountain/USF,94117.0,"(37.772393498502595, -122.45231466824669)",1469198253772
9,M804767,8,otc alterations permit,07/06/2017,1259,016,89,NaN,Alpine,Tr,...,NaN,NaN,NaN,NaN,NaN,8.0,Haight Ashbury,94117.0,"(37.7691724293766, -122.43734859051908)",146932394171

In [3]:
# getting no of missing values and displaying for first 10 columns
missing = df.isnull().sum()
missing

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Number Suffix                      196684
Street Name                                    0
Street Suffix                               2768
Unit                                      169421
Unit Suffix                               196939
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Structural Notification                   191978
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Voluntary Soft-Story Retrofit             198865
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
TIDF Compliance                           198898
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Site Permit                               193541
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

In [4]:
# percentage of missing values
total_cells = np.product(df.shape)
total_missing = missing.sum()
percent = (total_missing/total_cells)*100
print(percent)

26.26002315058403

In [5]:
# dropping rows that contain null values
df.dropna()

Empty DataFrame
Columns: [Permit Number, Permit Type, Permit Type Definition, Permit Creation Date, Block, Lot, Street Number, Street Number Suffix, Street Name, Street Suffix, Unit, Unit Suffix, Description, Current Status, Current Status Date, Filed Date, Issued Date, Completed Date, First Construction Document Date, Structural Notification, Number of Existing Stories, Number of Proposed Stories, Voluntary Soft-Story Retrofit, Fire Only Permit, Permit Expiration Date, Estimated Cost, Revised Cost, Existing Use, Existing Units, Proposed Use, Proposed Units, Plansets, TIDF Compliance, Existing Construction Type, Existing Construction Type Description, Proposed Construction Type, Proposed Construction Type Description, Site Permit, Supervisor District, Neighborhoods - Analysis Boundaries, Zipcode, Location, Record ID]
Index: []

[0 rows x 43 columns]

In [6]:
# droping columns that have null values
new_data = df.dropna(axis=1)
new_data

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Name,Current Status,Current Status Date,Filed Date,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,Ellis,expired,12/21/2017,05/06/2015,1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,Geary,issued,08/03/2017,04/19/2016,1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,Pacific,withdrawn,09/26/2017,05/27/2016,1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,Pacific,complete,07/24/2017,11/07/2016,1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,Market,issued,12/01/2017,11/28/2016,144548169992
...,...,...,...,...,...,...,...,...,...,...,...,...
198895,M862628,8,otc alterations permit,12/05/2017,0113,017A,1228,Montgomery,issued,12/05/2017,12/05/2017,1489337276729
198896,201712055595,8,otc alterations permit,12/05/2017,0271,014,580,Bush,issued,12/06/2017,12/05/2017,1489462354993
198897,M863507,8,otc alterations permit,12/06/2017,4318,019,1568,Indiana,issued,12/06/2017,12/06/2017,1489539379952
198898,M863747,8,otc alterations permit,12/06/2017,0298,029,795,Sutter,issued,12/06/2017,12/06/2017,1489608233656
198899,M864287,8,otc alterations permit,12/07/2017,0160,006,838,Pacific,issued,12/07/2017,12/07/2017,1489796283803

In [7]:
print("Columns of original dataset: ", df.shape[1])
print("Columns of new dataset: ", new_data.shape[1])

Columns of original dataset:  43
Columns of new dataset:  12

In [8]:
subset = df.loc[:, ["Street Number", "Unit", "Proposed Units", "Number of Existing Stories", "Estimated Cost", "Revised Cost", "Number of Proposed Stories", "Supervisor District"]]
subset.head()

,Street Number,Unit,Proposed Units,Number of Existing Stories,Estimated Cost,Revised Cost,Number of Proposed Stories,Supervisor District
0,140,NaN,NaN,6.0,4000.0,4000.0,NaN,3.0
1,440,0.0,NaN,7.0,1.0,500.0,NaN,3.0
2,1647,NaN,39.0,6.0,20000.0,NaN,6.0,3.0
3,1230,0.0,1.0,2.0,2000.0,2000.0,2.0,3.0
4,950,NaN,NaN,3.0,100000.0,100000.0,NaN,6.0

In [9]:
# fill null values with 0
subset.fillna(0)

,Street Number,Unit,Proposed Units,Number of Existing Stories,Estimated Cost,Revised Cost,Number of Proposed Stories,Supervisor District
0,140,0.0,0.0,6.0,4000.0,4000.0,0.0,3.0
1,440,0.0,0.0,7.0,1.0,500.0,0.0,3.0
2,1647,0.0,39.0,6.0,20000.0,0.0,6.0,3.0
3,1230,0.0,1.0,2.0,2000.0,2000.0,2.0,3.0
4,950,0.0,0.0,3.0,100000.0,100000.0,0.0,6.0
...,...,...,...,...,...,...,...,...
198895,1228,0.0,0.0,0.0,0.0,1.0,0.0,0.0
198896,580,0.0,4.0,4.0,5000.0,5000.0,4.0,0.0
198897,1568,0.0,0.0,0.0,0.0,1.0,0.0,0.0
198898,795,0.0,0.0,0.0,0.0,1.0,0.0,0.0
198899,838,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [10]:
# fill null values with previous values else with 0
subset.fillna(method='bfill', axis=0).fillna(0)

,Street Number,Unit,Proposed Units,Number of Existing Stories,Estimated Cost,Revised Cost,Number of Proposed Stories,Supervisor District
0,140,0.0,39.0,6.0,4000.0,4000.0,6.0,3.0
1,440,0.0,39.0,7.0,1.0,500.0,6.0,3.0
2,1647,0.0,39.0,6.0,20000.0,2000.0,6.0,3.0
3,1230,0.0,1.0,2.0,2000.0,2000.0,2.0,3.0
4,950,0.0,326.0,3.0,100000.0,100000.0,5.0,6.0
...,...,...,...,...,...,...,...,...
198895,1228,0.0,4.0,4.0,5000.0,1.0,4.0,0.0
198896,580,0.0,4.0,4.0,5000.0,5000.0,4.0,0.0
198897,1568,0.0,0.0,0.0,0.0,1.0,0.0,0.0
198898,795,0.0,0.0,0.0,0.0,1.0,0.0,0.0
198899,838,0.0,0.0,0.0,0.0,1.0,0.0,0.0